.mat-icon-button {
    margin: 40px 0 0 50px;
}

.large-icon {
    transform: scale(3);
}

.article-form {
    display: flex;
    justify-content: center;
    position: relative; 
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    position: relative; 
}

textarea[matInput] {
    width: 100%;
    resize: vertical;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px; 
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 430px) {
    mat-card {
        width: 80%;
    }

    ::ng-deep .mat-form-field-infix {
        width: 100% !important;
    }
}
