spring.application.name=mddApi
spring.datasource.url=jdbc:mysql://localhost:3306/mdd
spring.datasource.username=yourdatabaseusername
spring.datasource.password=yourdatabasepassword
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
jwt.secret=créerUnTokenEnLigneDeCommande(voirREADME)

server.base-url=http://localhost:8080