header {
    border-bottom: 1px solid black;
}
img {
    width: 20%;
}
.mat-icon-button {
    margin: 40px 0 0 50px;
}
.large-icon {
    transform: scale(3);
}
div {
    display: flex; 
    justify-content: center;
}
mat-card { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none !important; 
    border: none !important; 
    box-shadow: none !important; 
}
.mat-card-title {
    margin-bottom: 40px !important;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
mat-card-content {
    display: flex;
    flex-direction: column;
}
.error-message {
    color: red;
    font-weight: bold;
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 430px) {

    header {
        border-bottom: none;
        display: flex;
        justify-content: center;
        height: 200px;
        margin-top: 100px;
        position: relative;
    }
    img {
        width: 80%;
    }
    .large-icon {
        transform: scale(3);
    }
    .mat-icon-button {
        position: absolute;
        top: 0;
    }

}

