<header>
  <img src="/assets/logo_p6.png" alt="logo" />
</header>
<button mat-icon-button>
  <mat-icon class="large-icon">arrow_back</mat-icon>
</button>
<div >
  <mat-card>
    <mat-card-header >
      <mat-card-title>Inscription</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Adresse email</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="primary" type="submit">S'inscrire</button>
    </form>
  </mat-card>


</div>