.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  width: 140px;
}
.buttonDiv {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
